<div style="margin: 10% auto; width: 600px; max-width: 400px; padding: 20px; background-color: #fff; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); transition: transform 0.2s;">

    <h2 style="text-align: center; margin-bottom: 20px;">Iniciar Sesión</h2>

    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" style="width: 100%;">

        <input type="text"
        ngModel
        name="userName"
        id="userName"
        placeholder="Ingresa tu Usuario"
        style="width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 5px; transition: border-color 0.3s, transform 0.2s;"

        onfocus="this.style.borderColor='#D15F26'; this.style.transform='scale(1.02)';"
        onblur="this.style.borderColor='#ccc'; this.style.transform='scale(1)';"
        >

        <input type="password"
        ngModel
        name="userPassword"
        id="userPassword"
        placeholder="Ingresa tu Contraseña"
        style="width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 5px; transition: border-color 0.3s, transform 0.2s;"

        onfocus="this.style.borderColor='#D15F26'; this.style.transform='scale(1.02)';"
        onblur="this.style.borderColor='#ccc'; this.style.transform='scale(1)';"
        >

        <input type="submit"
        value="Login"
        style="width: 100%; padding: 10px; border: none; border-radius: 5px; background-color: #619914; color: #fff; cursor: pointer;"
        >
    </form>
</div>
